/* *{
  outline: auto;
} */

.middle{
  display: flex;
  min-height: 80vh;
  justify-content: stretch;
}
.player1,.player2{
  flex: 6 6 auto;
}
.buffer{
  flex:2 2 auto;
}
.board1,.board2{
  height: 200px;
  width:200px;
  margin-top: 150px;
  border: 1px solid rgb(100, 150, 187);
}
.board1{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap:0px;
  padding: 0px;
}
div.board1>div{
  flex:1 0 auto;
  outline: none;
}
div.row>div.col{
  flex:1 1 auto;
  border: 1px solid rgb(187, 211, 229);
}
div.row{
  display: flex;
  gap: 0px;
}

.board2{
  display: flex;
  flex-direction: column;
  gap:0px;
  padding: 0px;
}
div.board2>div{
  flex:1 0 auto;
  outline: none;
}

div>div>div.col.up{
  border-top: 2px solid blue;
}
div>div>div.col.down{
  border-bottom: 2px solid blue;
}
div>div>div.col.left{
  border-left: 3px solid blue;
}
div>div>div.col.right{
  border-right: 3px solid blue;
}
div>div>div.col.ship{

  background-color: rgb(239, 239, 248);
}
