/* *{
  outline: auto;
} */

.middle{
  display: flex;
  min-height: 80vh;
  justify-content: stretch;
}
.player1,.player2{
  flex: 6 6 auto;
}
.buffer{
  flex:2 0 auto;
  min-width: 230px;
}
button.play{
  margin-top: 200px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  font-size: 25px;

}
.board1,.board2{
  height: 400px;
  width:  400px;
  margin-top: 150px;
  border: 1px solid rgb(100, 150, 187);
}
.board1{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap:0px;
  padding: 0px;
}
div.board1>div{
  flex:1 0 auto;
  outline: none;
}
div.row>div.col{
  flex:1 1 auto;
  border: 1px solid rgb(187, 211, 229);
  margin: 0;
}
div.row{
  display: flex;
  gap: 0px;
}

.board2{
  display: flex;
  flex-direction: column;
  gap:0px;
  padding: 0px;
}
div.board2>div{
  flex:1 0 auto;
  outline: none;
}

div>div>div.col.up{
  border-top: none;
  border-top: 2px solid rgb(0, 0, 255);
}
div>div>div.col.down{
  border-bottom: none;
  border-bottom: 2px solid rgb(0, 0, 255);
}
div>div>div.col.left{
  border-left: none;
  border-left: 2px solid rgb(0, 0, 255);
}
div>div>div.col.right{
  border-right: none;
  border-right: 2px solid rgb(0, 0, 255);
}
div>div>div.col.fill{

  background-color: rgb(236, 236, 246);
}
div>div>div.col.removeLeft{
  border-left: none;
}
div>div>div.col.removeRight{
  border-right: none;
}
