*{
  outline: auto;
}

.middle{
  display: flex;
  min-height: 80vh;
  justify-content: stretch;
}
.player1,.player2{
  flex: 6 6 auto;
}
.buffer{
  flex:2 2 auto;
}
.board1,.board2{
  height: 200px;
  width:200px;
  margin-top: 150px;
}
.board1{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap:2px;
  padding: 2px;
}
div.board1>div{
  flex:1 0 auto;
  outline: none;
}
div.row>div.col{
  flex:1 1 auto;
}
div.row{
  display: flex;
  gap: 2px;
}

.board2{
  display: flex;
  flex-direction: column;
  gap:2px;
  padding: 2px;
}
div.board2>div{
  flex:1 0 auto;
  outline: none;
}
