/* *{
  outline: auto;
} */
body{
  margin: 0;
}
.nav{
  background: #4FA9E6;
  margin: 0;
  padding:5px 10px;
  font-size: 50px;
  font-weight: 800;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border: 3px solid #2C7EC4;

  /* border-bottom: 5px solid darkblue;
  border-top: 5px solid darkblue; */
}
.middle{
  display: flex;
  min-height: 90vh;
  justify-content: stretch;
}
.player1,.player2{
  flex: 6 6 auto;
}
.buffer{
  flex:2 0 auto;
  min-width: 230px;
}
button.play{
  margin-top: 200px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  font-size: 50px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid rgb(0, 221, 255);
  background-color: #4eccef; ;
}
button.placeShip{
  font-size: 25px;
   display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 50px;

  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid rgb(0, 221, 255);
  background-color: #a2dae9; 
}
div.messBox{
  margin-top: 200px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  /* outline: auto; */
  max-width: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border:1px solid rgb(167, 178, 183);
  border-radius: 10px;
}
.head1,.head2{
  padding: 0px;
  box-sizing: border-box;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.name1{
  margin-top: auto;
  margin-left: 210px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name2{
  margin-top: auto;
  margin-left: auto;
  width: 400px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.board1,.board2{
  height: 400px;
  width:  400px;
  
  /* border: 1px solid rgb(100, 150, 187); */
}
.board1{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap:0px;
  padding: 0px;
}
div.board1>div{
  flex:1 0 auto;
  outline: none;
}
div.row>div.col{
  flex:1 1 auto;
  border: 1px solid rgb(187, 212, 231);
  margin: 0;
  position: relative;
}
div.row{
  display: flex;
  gap: 0px;
}

.board2{
  display: flex;
  flex-direction: column;
  gap:0px;
  padding: 0px;
}
div.board2>div{
  flex:1 0 auto;
  outline: none;
}

div>div>div.col.up{
  border-top: none;
  border-top: 2px solid rgb(0, 0, 255);
}
div>div>div.col.down{
  border-bottom: none;
  border-bottom: 2px solid rgb(0, 0, 255);
}
div>div>div.col.left{
  border-left: none;
  border-left: 2px solid rgb(0, 0, 255);
}
div>div>div.col.right{
  border-right: none;
  border-right: 2px solid rgb(0, 0, 255);
}
div>div>div.col.fill{

  background-color: rgb(244, 244, 247);
}
div>div>div.col.removeLeft{
  border-left: none;
}
div>div>div.col.removeRight{
  border-right: none;
}
div>div>div.col.leftEdge{
  border-left-width: 2px;
}
div>div>div.col.rightEdge{
  border-right-width: 2px;
}
div.col.miss{
  background-color:rgba(5, 211, 226, 0.125);
}

div.col.miss::after{
  content: "";
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.col.hit::before,
div.col.hit::after{
    content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140%;
  height: 2px;
  background-color: red;
}
div.col.hit::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

div.col.hit::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
